In [3]:
import pandas as pd
url='https://raw.githubusercontent.com/Vincent-Toups/bios611-project1/master/source_data/datasets_38396_60978_charcters_stats.csv'
df=pd.read_csv(url,error_bad_lines=False)
df

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [4]:
df_no=df.drop(["Name","Alignment","Total"],axis=1)
df_no

     Intelligence  Strength  Speed  Durability  Power  Combat
0              50        31     43          32     25      52
1              38       100     17          80     17      64
2              88        14     35          42     35      85
3              50        90     53          64     84      65
4              63        80     53          90     55      95
..            ...       ...    ...         ...    ...     ...
606            88        10     12          28     12      14
607            50        10     35          28     31      28
608            50       100     27         100     83      28
609            75        10     23          28    100      56
610            50        10    100          28     72      28

[611 rows x 6 columns]

In [35]:
from sklearn.manifold import TSNE
from sklearn.cluster import SpectralClustering
from sklearn.metrics import pairwise_distances
from sklearn.preprocessing import MinMaxScaler
import numpy as np

mms = MinMaxScaler();

normed = mms.fit_transform(df_no)
distances = pairwise_distances(normed)
adj = distances < 0.5

sc = SpectralClustering(2,affinity="precomputed")
df_no['cluster'] = sc.fit_predict(adj);

tsne_em = TSNE(n_components=2, perplexity=30.0, n_iter=1000, verbose=1).fit_transform(df_no)

/usr/local/lib/python3.8/dist-packages/sklearn/manifold/_spectral_embedding.py:236: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 611 samples in 0.001s...
[t-SNE] Computed neighbors for 611 samples in 0.022s...
[t-SNE] Computed conditional probabilities for sample 611 / 611
[t-SNE] Mean sigma: 0.000000
[t-SNE] KL divergence after 250 iterations with early exaggeration: 57.871803
[t-SNE] KL divergence after 1000 iterations: 0.674354

In [36]:
lowd=pd.DataFrame(tsne_em,columns=["X1","X2"])
lowd["cluster"]=df_no['cluster']

In [48]:
from plotnine import *
q3=ggplot(lowd,aes("X1","X2"))+geom_point(aes(color="cluster"))
q3.save('/home/rstudio/q3.pdf')

/usr/local/lib/python3.8/dist-packages/plotnine/ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
/usr/local/lib/python3.8/dist-packages/plotnine/ggplot.py:730: PlotnineWarning: Filename: /home/rstudio/q3.pdf

In [38]:
lowd.to_csv(r'/home/rstudio/lowd.csv' ,index=False)

In [39]:
df_no.to_csv(r'/home/rstudio/df_no.csv' ,index=False)